:root {
  --dark: #1c1c1ceb;
  --light: #ffffff;
  --grey: #727580;
  --fs-big: 1.75em;
  --fs-middle: 1.125em;
  --fs-regular: 0.875em;
  --fs-small: 0.7em;
  --big-radius: 4rem;
  --radius: 4rem;
  --small-radius: 1rem;
  --left-width-780: 210px;
  --left-art-container-mr-bt: 25px;
  --separator-left: 20px;
  --separator-height: 55px;
  --separator-before-size: 80px;
  --separator-title-mr: 35px;
  --separator-radius: 50%;
  --separator-min-width: 265px;
  --items-container-mr: 40px;
  --items-container-width: 75%;
  --item-mr: 5px;
  --donut-size: 60px;
}

body {
  -webkit-print-color-adjust: exact;
  font-size: var(--fs-regular);
}

h1 {
  font-size: var(--fs-big);
  margin-bottom: 0;
}

h2 {
  font-size: var(--fs-middle);
}

h2 h1, h2 {
  margin: 0;
}

.container {
  width: 95vw;
  font-family: Helvetica;
  background-color: var(--light);
}

.header {
  height: 170px;
  display: flex;
  color: var(--light);
}

.main {
  display: flex;
}

footer {
  height: 45px;
  width: 100%;
  padding-left: 10px;
  background-color: var(--dark);
  border-radius: 0 var(--big-radius) 0 0;
}

.section-left {
  width: 25%;
  max-width: 350px;
  padding-left: 1pt;
  color: var(--light);
  background-color: var(--dark);
}

.section-right {
  position: relative;
  width: 75%;
  padding-right: 1pt;
}

/* ************************* header ************************* */
/* ***************** name ***************** */
.name {
  width: 70%;
  min-width: 250px;
  display: flex;
  flex-direction: column;
  position: relative;
  margin-bottom: 12px;
}

.name::before {
  content: '';
  height: 25px;
  width: 30%;
  position: absolute;
  left: -25px;
  background: var(--light);
  border-radius: 0 0 0 var(--big-radius);
}

.name__text {
  height: 135px;
  width: 95%;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  margin-top: 25px;
  background-color: var(--dark);
  border-right: 15px solid var(--grey);
  border-radius: 0 var(--big-radius) var(--big-radius) 0;
}

/* ***************** avatar ***************** */
.avatar {
  height: inherit;
  max-width: 350px;
  width: 25%;
  min-width: var(--left-width-780);
  display: flex;
  justify-content: space-around;
  align-items: center;
  background-color: var(--dark);
}

.ava__container {
  width: 130px;
  height: 130px;
  display: flex;
  justify-content: center;
  border-radius: 50%;
  border: 3px solid var(--grey);
}

.ava__img {
  height: 90%;
  border-radius: inherit;
  border: 5px solid var(--dark);
}

/* ************************* section-left ************************* */
.separator__title {
  margin-left: var(--separator-title-mr);
}

/* ***************** contacts ***************** */
.contact__container {
  margin-bottom: var(--left-art-container-mr-bt);
}

.contact__separator {
  height: var(--separator-height);
  width: 105%;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 10;
  margin-bottom: calc(var(--separator-height)/2);
  background-color: var(--grey);
  border-radius: 0 var(--radius) var(--radius) 0;
  box-shadow: 5px 5px 5px 5px var(--dark);
}

.contact__separator::before {
  content: '';
  height: var(--separator-before-size);
  width: var(--separator-before-size);
  position: absolute;
  left: var(--separator-left);
  border-radius: var(--separator-radius);
  box-shadow: 5px 5px 5px 5px var(--dark);
  background: var(--grey) url(../assets/contact.svg) center no-repeat;
}

.contact__items-container {
  width: var(--items-container-width);
  display: flex;
  flex-direction: column;
  margin-left: var(--items-container-mr);
}

.contact__item {
  display: flex;
  align-items: center;
  margin-bottom: var(--item-mr);
}

.contact__item a {
  text-decoration: none;
  color: var(--light);
}

.contact__img {
  width: 1.75em;
  margin-right: 10px;
  border-radius: var(--separator-radius);
  background-color: var(--light);
}

/* ***************** skills ***************** */
.skills__container {
  margin-bottom: var(--left-art-container-mr-bt);
}

.skills__separator {
  height: var(--separator-height);
  width: 105%;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  z-index: 10;
  margin-bottom: calc(var(--separator-height)/2);
  background-color: var(--grey);
  border-radius: 0 var(--radius) var(--radius) 0;
  box-shadow: 5px 5px 5px 5px var(--dark);
}

.skills__separator::before {
  content: '';
  height: var(--separator-before-size);
  width: var(--separator-before-size);
  position: absolute;
  left: var(--separator-left);
  background: var(--grey) url(../assets/development-skill.svg) center no-repeat;
  border-radius: var(--separator-radius);
  box-shadow: 5px 5px 5px 5px var(--dark);
}

.skill__items-container {
  height: 236px;
  width: var(--items-container-width);
  overflow-y: scroll;
  margin-left: var(--items-container-mr);
}

.skill__item {
  width: 90%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin-bottom: var(--item-mr);
}

.skill__label {
  width: 50%;
}

.stars {
  display: flex;
  width: 50%;
  align-items: center;
  justify-content: flex-start;
}

.clip-star {
  background: var(--light);
  clip-path: polygon(50% 0%, 61% 35%, 98% 35%, 68% 57%, 79% 91%, 50% 70%, 21% 91%, 32% 57%, 2% 35%, 39% 35%);
  display: inline-block;
  height: 20px;
  width: 20px;
}

/* ***************** languages ***************** */
.languages__container {
  margin-bottom: var(--left-art-container-mr-bt);
}

.languages__separator {
  height: var(--separator-height);
  width: 105%;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 10;
  margin-bottom: calc(var(--separator-height)/2);
  background-color: var(--grey);
  border-radius: 0 var(--radius) var(--radius) 0;
  box-shadow: 5px 5px 5px 5px var(--dark);
}

.languages__separator::before {
  content: '';
  height: var(--separator-before-size);
  width: var(--separator-before-size);
  position: absolute;
  left: var(--separator-left);
  border-radius: var(--separator-radius);
  box-shadow: 5px 5px 5px 5px var(--dark);
  background: var(--grey) url(../assets/globe.svg) center no-repeat;
}

.languages__items-container {
  width: var(--items-container-width);
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-left: var(--items-container-mr);
}

.languages__item {
  display: flex;
  flex-direction: column;
}

.donut {
  width: var(--donut-size);
  height: var(--donut-size);
  display: flex;
  justify-content: center;
  align-items: center;
  color: var(--dark);
  background: radial-gradient(var(--light) 57%, transparent 41%), conic-gradient(var(--grey) 0% 70%, var(--light) 70% 100%);
  border-radius: 50%;
}


.bc--full {
  background: radial-gradient(var(--light) 57%, transparent 41%), conic-gradient(var(--grey) 0 100%);
}

.bc--third-part {
  background: radial-gradient(var(--light) 57%, transparent 41%), conic-gradient(var(--grey) 0 30%, var(--light) 30% 100%);
}

/* ***************** passion ***************** */
.passion__container {
  margin-bottom: var(--left-art-container-mr-bt);
}

.passion__separator {
  height: var(--separator-height);
  width: 105%;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 10;
  margin-bottom: calc(var(--separator-height)/2);
  background-color: var(--grey);
  border-radius: 0 var(--radius) var(--radius) 0;
  box-shadow: 5px 5px 5px 5px var(--dark);
}

.passion__separator::before {
  content: '';
  height: var(--separator-before-size);
  width: var(--separator-before-size);
  position: absolute;
  left: var(--separator-left);
  border-radius: var(--separator-radius);
  box-shadow: 5px 5px 5px 5px var(--dark);
  background: var(--grey) url(../assets/passion.svg) center no-repeat;
}

.passion__item-container {
  width: var(--items-container-width);
  display: flex;
  justify-content: flex-start;
  align-items: center;
  margin-left: var(--items-container-mr);
}

.passion__img {
  width: var(--donut-size);
  margin-right: 10px;
}

.print__separator {
  height: var(--separator-height);
  width: var(--items-container-width);
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: var(--items-container-mr);
  margin-bottom: calc(var(--separator-height)/2);
  color: var(--light);
  background-color: var(--grey);
  border-radius: var(--radius) var(--radius);
  box-shadow: 5px 5px 5px 5px var(--dark);
}

.zero__margin {
  margin: 0;
}

/* ************************* section-right ************************* */
.info__container {
  height: calc(100% + 15px);
  /* width: 95%; */
  padding-left: 45px;
  position: absolute;
  overflow-y: scroll;
  left: -14px;
  top: -14px;
  color: var(--dark);
  background-color: var(--light);
  border-top-left-radius: var(--small-radius);
  border-bottom-left-radius: var(--small-radius);
}

.info__title {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  border-bottom: 2px solid var(--dark);
  margin: 10px;

}

.info__img {
  width: var(--donut-size);
  height: var(--donut-size);
}

.info__text {
  margin: 0 20px;
  font-size: var(--fs-big);
}

/* ***************** profile ***************** */
.profile {}

.profile__text {}

/* ***************** work ***************** */
.work {}

.work__text {}

/* ***************** education ***************** */
.education {}

.education__text {}

/* ***************** projects ***************** */
.projects {
  margin-bottom: 10px;
}

.table {
  width: 95%;
}

table, th, td {
  border-collapse: collapse;
  padding: 10px;
}

@media only screen and (max-width: 1350px) {
  .section-left, .avatar {
    min-width: 350px;
  }
}


@media only screen and (max-width: 915px) {
  :root {
    --dark: #322f48f9;
    --separator-height: 45px;
    --separator-before-size: 60px;
    --donut-size: 40px;
  }

  h1 {
    font-size: var(--fs-middle);
  }

  h2 {
    font-size: var(--fs-regular);
  }

  .skill__items-container {
    height: auto;
    overflow-y: visible;
    min-width: 180px;
  }

  .info__container {
    height: auto;
    position: relative;
    overflow-y: visible;
    left: 0;
    top: 0;
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
  }

  .avatar {
    min-width: var(--left-width-780);
  }

  .section-left {
    min-width: var(--left-width-780);
  }

  .section-left, .section-right {
    font-size: var(--fs-small);
  }

  .contact__img {
    width: 1.2rem;
  }

  .clip-star {
    height: 15px;
    width: 15px;
  }

  .passion__item-container {
    flex-wrap: wrap;
  }
}

@media print {
  :root {
    --dark: #322f48f9;
    --separator-height: 45px;
    --separator-before-size: 60px;
    --donut-size: 40px;
  }

  body {
    -webkit-print-color-adjust: exact;
    font-size: var(--fs-regular);
  }

  h2 {
    font-size: var(--fs-middle);
  }

  .skill__items-container {
    height: auto;
    overflow-y: visible;
  }

  .info__container {
    height: auto;
    position: relative;
    overflow-y: visible;
    left: 0;
    top: 0;
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
  }

  .section-left {
    min-width: var(--left-width-780);
  }

  .section-right {
    width: 55%;
    font-size: var(--fs-regular);
  }

  .section-left, .section-right {
    font-size: var(--fs-small);
  }

  .contact__img {
    width: 1.2rem;
  }

  .clip-star {
    height: 15px;
    width: 15px;
  }

  .passion__item-container {
    flex-wrap: wrap;
  }
}